<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chińczyk - Strona Startowa</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Stylizacja (opcjonalne) -->
</head>
<body>
    <h1>Witaj w grze:</h1>
    <p class="fantasy-text">CHIŃCZYK!</p>
    <form action="/game" method="post">
        <label for="mode">Wybierz tryb gry:</label>
        <select id="mode" name="mode">
            <option value="hotseat">Hot-seat (gra na jednym komputerze)</option>
        </select>
        <label for="players">Wybierz liczbę graczy:</label>
            <select id="players" name="players">
                <option value="2">2 graczy</option>
                <option value="3">3 graczy</option>
                <option value="4" selected>4 graczy</option> <!-- Domyślnie 4 -->
            </select>
        <button type="submit">Rozpocznij grę</button>
    </form>
    <div class="images">
        <img src="static/images/Zrzut ekranu 2025-01-30 113337.png">
        <img src="static/images/Flag_of_the_People's_Republic_of_China.svg.png">
        <img src="static/images/Zrzut ekranu 2025-01-30 113355.png">
    </div>

</body>
</html>
